.navbar{
    padding-top: 10px;
    padding-bottom: 15px;
    background-color:#FFFFFF;
}
body{

    background-color:#F9F9F9;
}
.main-body{
    width: 1350px;
    height: 600px;
    margin:20px auto;
    
}
.left-part{
    float: left;
    width: 70%;
    height:600px;
}
.right-part{
    height:600px;
    float: right;
}