.container{
    width: 800px;
    margin:0 auto;
    text-align:center;
    display: flex;
    margin-top: 10px;
}
.child1{
    margin-left:0px;
    margin-top: 5px;
    float: left;
}
.child2  {
    width: 600px;
    display: inline-block;
}