.item{
    margin-bottom: 5px;
    display: flex;
    width: 470px;
}
.right-side-list{
    width: 400px;
}
.left-icon{
    height: 100%;
    width: min-content;
}
.right-title{
    height: 100%;
    width: 100%;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 600;
}

.channel-title{
    color:rgb(105, 105, 105);
    font-size: 15.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 8px;
}
.mytitle{
    overflow: hidden;
    text-overflow: ellipsis; 
    height: 38px;
    width: 200px;
}
.item:hover{
    cursor: pointer;
}
.separator{
    color:rgb(71, 71, 71);
    opacity: 0.4;
    width: 430px;
    margin-left: 0px;
    margin-top: 18px;
    margin-bottom: 18px;
}
.header-of-list{
    font-size: 20px;
    margin-bottom: 25px;
}